.w-content{
  &-editable{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 3px;
    margin-top: 5px;
    outline: none;
    min-height: 75px;
    // position: relative;
  }
  &-text {
    display: none;
  }
}


.wysiwyg-container-suggestion-overlay{
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  z-index: 100;
}
.wysiwyg-container-suggestion{
  display: flex; 
  flex-direction: column;
  min-width: 250px;
  min-height: 20px; 
  position: absolute;
  background-color: rgb(233, 232, 232);
  border-radius: 3px;

  &__item {
    width: auto;
    max-width: 350px;
    overflow-x: hidden;
    padding: 5px;

    &:hover {
      background-color: rgb(240, 240, 240);
      cursor: pointer;
    }
  }
}